<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base.html :: headerfiles(title='Admin Home')"> </head>
    <body>
        <header th:replace="fragments/base.html :: intestazione"></header>
        <div>
            <h4 th:text="#{header.menuAdmin}">Admin Home</h4>
            <div>
                <a th:href="@{/admin/chef/add}" th:text="#{adminHome.aggiungiChef}">Add Chef</a>
            </div>
            <div>
                <a th:href="@{/admin/chef/list}" th:text="#{adminHome.elencoChefs}">Chef List</a>
            </div>
        </div>
        <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
    </body>
</html>