<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base.html :: headerfiles(title=#{title.ingredient.form})"> </head>
    <body>
        <header th:replace="fragments/base.html :: intestazione"></header>
        <div>
            <h4 th:text="#{header.ingredient.add}">Add an ingredient</h4>
            <form th:action="@{/admin/ingredient/add}" method="POST" th:object="${ingredient}">
                <div>
                    <span>Nome:
                        <input type="text" th:field="*{name}" placeholder="name" required />
                    </span>
                </div>
                <div>
                    <span>descrizione:
                        <textarea placeholder="description" rows="5" cols="80" th:field="*{description}" required></textarea>
                    </span>
                </div>
                <div>
                    <span>Origine:
                        <input type="text" th:field="*{origin}" placeholder="origin" required />
                    </span>
                </div>
                <div>
                    <span><button type="submit">Aggiungi ingrediente</button></span>
                </div>
            </form>
        </div>
        <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
    </body>
</html>
