<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.chef.list})"> </head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
    <h4 th:text="#{header.chef.list}">risultato</h4>
    <ul>
        <li th:each="ingredient : ${results}">
            <span th:text="${ingredient.name}">Mozzarella</span>
            <form th:action="@{'/admin/dish/' + ${si.getIdDish()} + '/add-ingredient/' + ${ingredient.getId()}}" method="post">
                <button type="submit">aggiungi</button>
            </form>
        </li>
    </ul>
</div>
<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>