<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.dish.form}, css='/css/form-list.css')"></head>
<body>
<header th:replace="fragments/base.html :: header(#{header.dish.add})"></header>
<div class="flex-container">
    <form class="form" th:action="@{/admin/dish/add}" method="POST" th:object="${dish}">
        <div class="flex">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{buffet}"/>
            <div class="form-element">
                <input class="form-input" type="text" th:field="*{name}" placeholder="name" required />
            </div>
            <div>
                <button class="button2 auto-margin" type="submit">Conferma</button>
            </div>
        </div>
        <div class="form-element">
            <textarea class="form-input larger higher" placeholder="description" th:field="*{description}" required></textarea>
        </div>

    </form>
</div>
</body>
</html>
