<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base.html :: headerfiles(title=#{title.chef.form})"> </head>
    <body>
        <header th:replace="fragments/base.html :: intestazione"></header>
        <div>
            <h4 th:text="#{header.dish.add}">Add a dish</h4>
            <form th:action="@{/admin/dish/add}" method="POST" th:object="${dish}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{buffet}"/>
                <div>
                    <span>Nome:</span>
                    <span>
                        <input type="text" th:field="*{name}" placeholder="name" required />
                    </span>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div>
                    <span>Descrizione:</span>
                    <span>
                        <textarea placeholder="description" rows="5" cols="80" th:field="*{description}" required></textarea>
                    </span>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div>
                    <span><button type="submit">Conferma aggiunta</button></span>
                </div>
            </form>
        </div>
        <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
    </body>
</html>
