<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.buffet.modify}, css='/css/form-list.css')"></head>
<body>
<header th:replace="fragments/base.html :: header(#{header.dish.modify})"></header>
<div class="flex-container" th:if="${dish}">
    <div class="form-wrapper">
        <form class="form" th:action="@{/admin/dish/modify/confirm}" method="POST" th:object="${dish}">
            <input type="hidden"  th:field="*{id}"/>
            <input type="hidden"  th:field="*{buffet}"/>
            <div class="form-element">
                <div class="form-span">Nome:</div>
                <input spellcheck="false" class="form-input larger" type="text" th:field="*{name}" placeholder="name" required />
            </div>
            <div class="form-element">
                <div class="form-span">Descrizione:</div>
                <textarea spellcheck="false" class="form-input larger higher" placeholder="description" rows="3" th:field="*{description}" required></textarea>
            </div>
            <div class="flex horizontal">
                <a class="button auto-margin" th:href="@{'/admin/dish/' + ${dish.id} + '/add-ingredient'}" th:text="#{dish.add-ingredient}">add</a>
                <button class="button2"  type="submit" th:text="#{modify.confirm}">Confirm</button>
            </div>
        </form>
    </div>
    <div class="list">
        <h4 th:text="#{header.ingredients}">Ingredients</h4>
        <div class="list-element vertical" th:each="ingredient : ${dish.getIngredients()}">
            <div class="name auto-width" th:text="${ingredient.name}">Pane</div>
            <div class="flex horizontal">
                <a class="button" th:href="@{'/admin/dish/' + ${dish.id} + '/remove-ingredient/' + ${ingredient.id}}" th:text="#{remove}">remove</a>
            </div>
        </div>
    </div>
</div>
<div th:unless="${dish}">Questo piatto non esiste</div>
</body>
</html>