<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Aggiunto chef')"> </head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div th:object="${chef}">
    <div>
        <h4 th:text="#{header.chef.added}">Successful</h4>
    </div>
    <span th:text="*{name}">Mario</span>
    <span th:text="*{surname}">Rossi</span>
    <span th:text="*{nationality}">Italia</span>
</div>
<footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>