<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base.html :: headerfiles(title=#{title.chef.list})"> </head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
    <div>
        <h4 th:text="#{header.chef.list}">Lista degli Chefs</h4>
        <ul>
            <li th:each="chef : ${chefs}">
                <span th:text="${chef.name} + ' ' + ${chef.surname}">Mario Rossi</span>
                <form th:action="@{'/admin/chef/delete/' + ${chef.id}}" method="get">
                    <button type="submit">elimina</button>
                </form>
                <form th:action="@{'/admin/chef/modify/' + ${chef.id}}" method="get">
                    <button type="submit">Modifica</button>
                </form>
                <form th:action="@{'/admin/chef/' + ${chef.id} + '/add-buffet'}" method="get">
                    <button type="submit">aggiungi buffet</button>
                </form>
            </li>
        </ul>
    </div>
    <footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>