<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.chef.modify})"> </head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div>
    <h4 th:text="#{header.buffet.modify}">Modify buffet</h4>
    <div th:if="${buffet}">
        <form th:action="@{/admin/buffet/modify/confirm}" method="POST" th:object="${buffet}">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
            </div>
            <input type="hidden"  th:field="*{id}"/>
            <input type="hidden"  th:field="*{chef}"/>
            <div>
                <span>Nome:</span>
                <span>
                    <input type="text" th:field="*{name}" placeholder="name" required />
                </span>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div>
                <span>descrizione:
                    <textarea placeholder="description" rows="5" cols="80" th:field="*{description}" required></textarea>
                </span>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>
            <div>
                <span><button type="submit" th:text="#{modify.confirm}">Confirm</button></span>
            </div>

            <h4 th:text="#{header.dishes.modify}">Modify dish</h4>
        </form>
        <form th:action="@{'/admin/buffet/' + ${buffet.id} + '/add-dish'}" method="get">
            <button type="submit">Aggiungi piatto</button>
        </form>

        <div>
            <ul>
                <li th:each="dish : ${dishes}">
                    <a
                            th:href="@{'/admin/dish/modify/' + ${dish.id}}"
                            th:text="${dish.name}">Carbonara
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div th:unless="${buffet}">Questo buffet non esiste</div>
</div>
<footer th:replace="fragments/base.html :: fondo('/default')"></footer>
</body>
</html>