<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.buffet.modify}, css='/css/form-list.css')"></head>
<body>
<header th:replace="fragments/base.html :: header(#{header.buffet.modify})"></header>
<div class="flex-container" th:if="${buffet}">
    <form class="form" th:action="@{/admin/buffet/modify/confirm}" method="POST" th:object="${buffet}">
        <input type="hidden"  th:field="*{id}"/>
        <input type="hidden"  th:field="*{chef}"/>
        <div class="form-element">
            <div class="form-span">Nome:</div>
            <input spellcheck="false" class="form-input larger" type="text" th:field="*{name}" placeholder="name" required />
        </div>
        <div class="form-element">
            <div class="form-span">descrizione:</div>
            <textarea spellcheck="false" class="form-input larger higher" placeholder="Description" th:field="*{description}" required></textarea>
        </div>
        <div class="flex horizontal">
            <a class="button auto-margin" th:href="@{'/admin/buffet/' + ${buffet.id} + '/add-dish'}" th:text="#{buffet.add-dish}">add dish</a>
            <button class="button2" type="submit" th:text="#{modify.confirm}">Confirm</button>
        </div>
    </form>
    <div class="list">
        <h4 th:text="#{header.dishes.modify}">Modify dish</h4>
        <div class="list-element vertical" th:each="dish : ${buffet.getDishes()}">
            <div class="name auto-width" th:text="${dish.name}">Carbonara</div>
            <div class="flex horizontal">
                <a class="button" th:href="@{'/admin/dish/' + ${dish.id} + '/modify'}" th:text="#{modify}">modify</a>
                <a class="button" th:href="@{'/admin/dish/' + ${dish.id} + '/delete'}" th:text="#{delete}">delete</a>
            </div>
        </div>
    </div>
</div>
<div th:unless="${buffet}">Questo buffet non esiste</div>
</body>
</html>