<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/base.html :: headerfiles(title=#{title.chef.list}, css='/css/form-list.css')"></head>
<body>
<header th:replace="fragments/base.html :: header(#{header.chef.list})"></header>
<div class="list-element horizontal" th:each="chef : ${chefs}">
    <div class="name" th:text="${chef.name} + ' ' + ${chef.surname}">Mario Rossi</div>
    <a class="button" th:href="@{'/chef/' + ${chef.id}}" th:text="#{explore}">Explore</a>
</div>
</body>
</html>