<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.home}, css='/css/home.css')"></head>
<body>
<header th:replace="fragments/base.html :: header(#{header.user.menu})"></header>
<div class="cards">
    <div class="card">
        <ion-icon class="card-image" name="happy-outline"></ion-icon>
        <a class="button" th:href="@{/chef/list}" th:text="#{chef.list}">Chef List</a>
    </div>
    <div class="card">
        <ion-icon class="card-image" name="pizza-outline"></ion-icon>
        <a class="button" th:href="@{/buffet/list}" th:text="#{buffet.list}">Buffet List</a>
    </div>
</div>
</body>
</html>