body{
    height: 100vh;
    display:flex;
    background: azure;
}

.container{
    position: relative;
    display: flex;
    justify-items: center;
    min-width: 200px;
    width:60vw;
    aspect-ratio: 2;
    border: 3px solid steelblue;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}

.element{
    display: flex;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 50vw;
    min-width: 170px;
    aspect-ratio: 2;
    background: no-repeat url(../images/catering2.jpg);
    background-size: 100% 100%;
    border-radius: 5px;
}

.discover {
    margin: auto;
    width: 4.5rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
    transition: background 0.5s linear;
    background: linear-gradient(to right, rgb(26, 188, 244), rgb(93, 239, 184));
}

.discover:hover {
    background: linear-gradient(to right, rgb(13, 164, 217), rgb(71, 181, 139));
    background-clip: padding-box;
}

.discover:active {
    background: linear-gradient(to right, rgb(9, 119, 158), rgb(45, 115, 88));
    background-clip: padding-box;
}

@media screen and (max-width: 34rem) {
    html { font-size: 20px; }

    .container { width: 90vw }

    .element { width: 80vw }
}